<link rel="stylesheet" href="https://unpkg.com/primeflex@2.0.0/primeflex.css">




<!-- Text -->
<div class="p-text-left">Left</div>
<div class="p-text-center">Center</div>
<div class="p-text-right">Right</div>
<div class="p-text-justify">Justify</div>



<!-- Transform -->
<div class="p-text-lowercase">LOWERCASE</div>
<div class="p-text-uppercase">uppercase</div>
<div class="p-text-capitalize">capitalize</div>



<!-- Style -->
<div class="p-text-bold">Bold</div>
<div class="p-text-normal">Normal</div>
<div class="p-text-light">Light</div>
<div class="p-text-italic">Italic</div>




<!-- A Complete Guide to Flexbox -->
<div class="p-grid">
  <div style="margin-left: 5px;">AUST</div>
  <div style="margin-left: 5px;">BUET</div>
  <div style="margin-left: 5px;">CUET</div>
  <div style="margin-left: 5px;">RUET</div>
  <div style="margin-left: 5px;">KUET</div>
</div>




<!-- Getting Started -->
<!-- p-grid class and children the p-col class -->
<!-- Children of the grid will have the same width and scale according to the width of the parent -->
<hr>
<div class="p-grid">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
    <div class="p-col">Pabna</div>
    <div class="p-col">Sylhet</div>
</div>

<div class="p-grid" style="text-align: center; font-weight: bold; font-size: medium;">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
    <div class="p-col">Pabna</div>
    <div class="p-col">Sylhet</div>
</div>




<!-- Direction -->
<!-- Default direction is "row" -->
<!-- p-dir-* class at the container defines the other possible directions -->
<!-- Row Reverse -->
<hr>
<div class="p-grid p-dir-rev">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
    <div class="p-col">Pabna</div>
    <div class="p-col">Sylhet</div>
</div>


<!-- Column -->
<hr>
<div class="p-grid p-dir-col">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
    <div class="p-col">Pabna</div>
    <div class="p-col">Sylhet</div>
</div>

<!-- Column Reverse-->
<hr>
<div class="p-grid p-dir-col-rev">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
    <div class="p-col">Pabna</div>
    <div class="p-col">Sylhet</div>
</div>




<!-- Row -->
<hr>
<div class="p-grid p-dir-row" style="text-align: center; font-weight: bold; font-size: medium;">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
    <div class="p-col">Pabna</div>
    <div class="p-col">Sylhet</div>
</div>




<!-- Column Grid -->
<!-- FlexGrid includes a 12 column based layout utility where width of a column is defined with 
    the p-col-{number} style class -->
<!-- Columns with prefined widths can be used with columns with auto width (p-col) as well -->
<!-- first and last column covers the 4 units out of 12 and the rest of the columns share the remaining space  -->
<hr>
<div class="p-grid" style="text-align: center; font-weight: bold; font-family: 'Courier New', Courier, monospace;">
    <div class="p-col-4">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
    <div class="p-col">Pabna</div>
    <div class="p-col">Rongpur</div>
    <div class="p-col-4">Dinajpur</div>
</div>





<!-- first and last column covers the 3 units out of 12 and the rest of the columns covers 6 units  -->
<hr>
<div class="p-grid" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold; text-align: center;">
    <div class="p-col-3">Dhaka</div>
    <div class="p-col-6">Abdullah Al Mohaimen Hasan</div>
    <div class="p-col-3">Bogra</div>
</div>

<!-- all the three colums contains the 4 units  -->
<hr>
<div class="p-grid" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold; text-align: center;">
    <div class="p-col-4">Abdullah Al</div>
    <div class="p-col-4">Mohaimen</div>
    <div class="p-col-4">Hasan</div>
</div>




<!-- another example -->
<hr>
<div class="p-grid">
    <div class="p-col-2">Mohaimen</div>
    <div class="p-col-6">Mashfiq</div>
    <div class="p-col-4">Saleh</div>
</div>




<!-- Multi Line -->
<!-- When the number of columns exceed 12, columns wrap to a new line. -->
<hr>
<div class="p-grid">
    <div class="p-col-6">Dhaka</div>
    <div class="p-col-6">Bogra</div>
    <div class="p-col-6">Pabna</div>
    <div class="p-col-6">Sirajganj</div>
    <div class="p-col-6">Rongpur</div>
</div>


<hr>
<div class="p-grid p-dir-rev" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold; text-align: center;">
    <div class="p-col-6">Dhaka</div>
    <div class="p-col-6">Bogra</div>
    <div class="p-col-6">Pabna</div>
    <div class="p-col-6">Sirajganj</div>
    <div class="p-col-6">Rongpur</div>
</div>




<!-- Fixed Width Column -->
<!-- A column can have a fixed width while siblings having auto width. Apply p-col-fixed class to fix a 
    column width -->
<hr>
<div class="p-grid" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold; text-align: center;">
    <div class="p-col-fixed" style="width: 700px;">Abdullah Al Mohaimen</div>
    <div class="p-col">Hasan</div>
</div>





<!-- Responsive -->
<!-- Responsive layout is achieved by applying breakpoint specific classes to the columns whereas p-col-* 
    define the default behavior for mobile devices with small screens. Four screen sizes are supported with 
    different breakpoints. -->
<!-- p-sm-* : min-width 576px
     p-md-* : min-width 768px
     p-lg-* : min-width 992px
     p-xl-* : min-width 1200px -->
<!-- large screens display 4 columns, medium screens display 2 columns in 2 rows and 
    finally on small devices, columns are stacked -->
<hr>
<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-3">Dhaka</div>
  <div class="p-col-12 p-md-6 p-lg-3">Bogra</div>
  <div class="p-col-12 p-md-6 p-lg-3">Pabna</div>
  <div class="p-col-12 p-md-6 p-lg 3">Sirajganj</div>
  <div class="p-col-12 p-md-6 p-lg-3">Dinajpur</div>
</div>

<!-- Another Example -->
<hr>
<div class="p-grid">
  <div class="p-col-12 p-md-6">Dhaka</div>
  <div class="p-col-12 p-md-6">Bogra</div>
  <div class="p-col-12 p-md-6">Pabna</div>
  <div class="p-col-12 p-md-6">Sirajganj</div>
  <div class="p-col-12 p-md-6">Dinajpur</div>
</div>

<!-- Horizontal Alignment -->
<!-- p-justify-* classes are used on the container element to define the alignment along the main axis -->
<hr>
<div class="p-grid p-justify-between">
    <div class="p-col-2">Bogra</div>
    <div class="p-col-1">Dhaka</div>
    <div class="p-col-4">Sirajganj</div>
</div>

<!-- p-justify-between -->
<!-- Items are evenly distributed in the line; first item is on the start line, last item on the end line -->
<hr>
<div class="p-grid p-justify-between" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold; text-align: center;">
    <div class="p-col-2">Bogra</div>
    <div class="p-col-1">Dhaka</div>
    <div class="p-col-4">Sirajganj</div>
    <div class="p-col-1">Pabna</div>
</div>

<!-- p-justify-start: (default) Items are packed toward the start line-->
<hr>
<div class="p-grid p-justify-start" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col-2">Bogra</div>
    <div class="p-col-1">Dhaka</div>
    <div class="p-col-4">Sirajganj</div>
    <div class="p-col-1">Pabna</div>
</div>

<!-- p-justify-end : Items are re packed toward to end line -->
<hr>
<div class="p-grid p-justify-end" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col-2">Bogra</div>
    <div class="p-col-1">Dhaka</div>
    <div class="p-col-4">Sirajganj</div>
    <div class="p-col-1">Pabna</div>
</div>

<!-- p-justify-center : Items are centered along the line -->
<hr>
<div class="p-grid p-justify-center" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col-2">Bogra</div>
    <div class="p-col-1">Dhaka</div>
    <div class="p-col-4">Sirajganj</div>
    <div class="p-col-1">Pabna</div>
</div>

<!-- p-justify-around: Items are evenly distributed in the line with equal space around them. -->
<hr>
<div class="p-grid p-justify-around" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col-2">Bogra</div>
    <div class="p-col-1">Dhaka</div>
    <div class="p-col-4">Sirajganj</div>
    <div class="p-col-1">Pabna</div>
</div>

<!-- p-justify-even: Items are distributed so that the spacing between any two items 
    (and the space to the edges) is equal -->
<hr>
<div class="p-grid p-justify-even" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col-2">Bogra</div>
    <div class="p-col-1">Dhaka</div>
    <div class="p-col-4">Sirajganj</div>
    <div class="p-col-1">Pabna</div>
</div>



<!-- Vertical Alignment -->
<!-- *p-align-* classes are used on the container element to define the alignment along the cross axis -->
<!-- p-align-stretch: (default) Stretch to fill the container. -->
<hr>
<div class="p-grid p-align-stretch" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
</div>


<!-- p-align-center : Items are centered in the cross-axis -->
<hr>
<div class="p-grid p-align-center" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
</div>

<!-- p-align-start : Cross-start margin edge of the items is placed on the cross-start line -->
<hr>
<div class="p-grid p-align-start" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
</div>


<!-- p-align-end : Cross-end margin edge of the items is placed on the cross-end line -->
<hr>
<div class="p-grid p-align-center" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
</div>


<!-- p-align-baseline : Items are aligned such as their baselines align -->
<hr>
<div class="p-grid p-align-baseline" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col">Dhaka</div>
    <div class="p-col">Bogra</div>
    <div class="p-col">Sirajganj</div>
</div>




<!-- Vertical alignment can also be defined at column level with the p-col-align-* classes -->
<hr>
<div class="p-grid" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col p-col-align-start">Dhaka</div>
    <div class="p-col p-col-align-center">Bogra</div>
    <div class="p-col p-col-align-end">Sirajganj</div>
</div>


<hr>
<div class="p-grid" style="font-family: 'Courier New', Courier, monospace; color: brown; font-weight: bold;">
    <div class="p-col-2 p-col-align-start">Dhaka</div>
    <div class="p-col-1 p-col-align-center">Bogra</div>
    <div class="p-col-4 p-col-align-end">Sirajganj</div>
</div>




<!-- Offset -->
<!-- Offset classes allow defining a left margin on a column to avoid adding empty columns for spacing -->
<!-- p-col-offset-* : All screens
     p-sm-offset-* : min-width: 576px
     p-md-offset-* : min-width: 768px
     p-lg-offset-* : min-width: 992px
     p-xl-offset-* : min-width: 1200px -->
<hr>
<div class="p-grid">
    <div class="p-col-2 p-offset-3">Bangladesh</div>
    <div class="p-col p-offset-3">Canada</div>
</div>

<!-- Example -->
<hr>
<div class="p-grid">
    <div class="p-col-6 p-offset-3">Bangladesh</div>
</div>
 
<hr>
<div class="p-grid">
    <div class="p-col-4">Bangladesh </div>
    <div class="p-col-4 p-offset-4">Dhaka</div>
</div>




<!-- Nested -->
<!-- Columns can be nested to create more complex layouts. -->
<hr>
<div class="p-grid">
    <div class="p-col-8">
        <div class="p-grid">
            <div class="p-col-4">Uttara</div>
            <div class="p-col-4">Banani</div>
            <div class="p-col-4">Dhanmondi</div>
        </div>
    </div>
    <div class="p-col-4">Bogra</div>
</div>

<!-- Example -->
<hr>
<div class="p-grid">
    <div class="p-col-8">
        <div class="p-grid">
            <div class="p-col-6">Uttara</div>
            <div class="p-col-6">Banani</div>
            <div class="p-col-12">Dhanmondi</div>
        </div>
    </div>
    <div class="p-col-4">Bogra</div>
</div>


<!-- Gutter -->
<!-- A .5 em padding is applied to each column along with negative margins on the container 
    element, in case you'd like to remove these gutters, apply .p-nogutter class to the container. 
    Note that this will not only remove the negative margins of the container, but also the padding 
    of the columns. -->
<hr>
<div class="p-grid p-nogutter">
    <div class="p-col">Bangladesh</div>
    <div class="p-col">Canada</div>
    <div class="p-col">Pakistan</div>
</div>

<hr>
<div class="p-grid p-nogutter">
    <div class="p-col-2">Bangladesh</div>
    <div class="p-col-1">Canada</div>
    <div class="p-col-4">Pakistan</div>
</div>


<!-- p-col-nogutter -->
<hr>
<div class="p-grid">
    <div class="p-col-nogutter">Bangladesh</div>
    <div class="p-col-nogutter">Canada</div>
    <div class="p-col-nogutter">Pakistan</div>
</div>

<hr>
<div class="p-grid">
    <div class="p-col">Bangladesh</div>
    <div class="p-col p-col-nogutter">Canada</div>
    <div class="p-col p-col-nogutter">India</div>
    <div class="p-col">Pakistan</div>
</div>






<!-- EXAMPLE -->
<div class="p-d-inline">Displayed as inline.</div>
<div class="p-d-flex">Displayed as a flexbox container.</div>
<div class="p-d-block p-d-lg-inline">Inline for larger screens and block for others.</div>
<div class="p-d-md-none">Visible on a Small Screen</div>
<div class="p-d-none p-d-md-inline-flex">Hidden on a Small Screen</div>
<div class="p-d-none p-d-print-block">Only visible when printed.</div>
<div class="p-d-block p-d-print-none">Not available for printing.</div>


<!-- Elevation -->
<!-- Elevation is added to an element using the .p-shadow-{level} class. -->
<hr>
<div class="p-grid">
    <div class="p-shadow-1"></div>
    <div class="p-shadow-24"></div>
</div>



<!-- FlexBox = Easily manage the layout of your components with the responsive FlexBox utilities -->
<div class="p-d-flex">
    Ahsanullah University of Science & Technology
</div>
<div class="p-d-inline-flex">
    Ahsanullah University of Science & Technology
</div>



<!-- p-flex-{direction} -->
<!-- Row -->
<hr>
<div class="p-d-flex">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>

<!-- Row -->
<hr>
<div class="p-d-flex">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div>Pabna</div>
</div>


<!-- p-flex-column -->
<hr>
<div class="p-d-flex p-flex-column">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div>Pabna</div>
</div>


<!-- p-flex-column-reverse -->
<hr>
<div class="p-d-flex p-flex-column-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div> 

<!-- Responsive = Row direction for larger screens and column for smaller -->
<hr>
<div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div>Pabna</div>
</div>


<!-- p-flex row -->
<hr>
<div class="p-d-flex p-flex-row">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>

<!-- p-flex-row-reverse -->
<hr>
<div class="p-d-flex p-flex-row-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<hr>
<div class="p-d-flex p-flex-row-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-sm-row -->
<hr>
<div class="p-d-flex p-flex-sm-row">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-sm-row-reverse -->
<hr>
<div class="p-d-flex p-flex-sm-row-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-sm-column -->
<hr>
<div class="p-d-flex p-flex-sm-column">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-sm-column-reverse -->
<hr>
<div class="p-d-flex p-flex-sm-column-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-md-row -->
<hr>
<div class="p-d-flex p-flex-md-row">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-md-row-reverse -->
<hr>
<div class="p-d-flex p-flex-md-row-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-md-column -->
<hr>
<div class="p-d-flex p-flex-md-column">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-md-column-reverse -->
<hr>
<div class="p-d-flex p-flex-md-column-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-lg-row -->
<hr>
<div class="p-d-flex p-flex-lg-row">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-lg-row-reverse -->
<hr>
<div class="p-d-flex p-flex-lg-row-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-lg-column -->
<hr>
<div class="p-d-flex p-flex-lg-column">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>

<!-- p-flex-lg-column-reverse -->
<hr>
<div class="p-d-flex p-flex-lg-column-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-xl-row -->
<hr>
<div class="p-d-flex p-flex-xl-row">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>

<!-- p-flex-xl-row-reverse -->
<hr>
<div class="p-d-flex p-flex-xl-row-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>


<!-- p-flex-xl-column -->
<hr>
<div class="p-d-flex p-flex-xl-column">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>

<!-- p-flex-xl-column-reverse -->
<hr>
<div class="p-d-flex p-flex-xl-column-reverse">
    <div class="p-mr-2">Bogra</div>
    <div class="p-mr-2">Dhaka</div>
    <div class="p-mr-2">Pabna</div>
</div>




<!-- Order -->
<hr>
<div class="p-d-flex">
    <div class="p-md-2">Bangladesh</div>
    <div class="p-md-2">Pakistan</div>
    <div class="p-md-2">Canada</div>
    <div class="p-md-2">Australia</div>
</div>

<!-- Example -->
<hr>
<div class="p-d-flex">
    <div class="p-md-2 p-order-3">Bangladesh</div>
    <div class="p-md-2 p-order-1">Pakistan</div>
    <div class="p-md-2 p-order-2">Canada</div>
    <div class="p-md-2 p-order-4">Australia</div>
</div>

<!-- p-order-0
     p-order-1
     p-order-2
     p-order-3
     p-order-4
     p-order-5
     p-order-6
     p-order-sm-0
     p-order-sm-1
     p-order-sm-2
     p-order-sm-3
     p-order-sm-4
     p-order-sm-5
     p-order-sm-6
     p-order-md-0
     p-order-md-1
     p-order-md-2
     p-order-md-3
     p-order-md-4
     p-order-md-5
     p-order-md-6
     p-order-lg-0
     p-order-lg-1
     p-order-lg-2
     p-order-lg-3
     p-order-lg-4
     p-order-lg-5
     p-order-lg-6
     p-order-xl-0
     p-order-xl-1
     p-order-xl-2
     p-order-xl-3
     p-order-xl-4
     p-order-xl-5
     p-order-xl-6 -->



<!-- Wrap -->
<!-- Flex wrap defines the wrap behavior when there is not enough space in the container -->
<!-- default(no wrap) -->
<hr>
    <div class="p-d-flex">
    <div class="p-mr-2 p-mb-2">Bogra</div>
    <div class="p-mr-2 p-mb-2">Dhaka</div>
    <div class="p-mr-2 p-mb-2">Sirajganj</div>
    <div class="p-mr-2 p-mb-2">Pabna</div>
    <div class="p-mr-2 p-mb-2">Dinajpur</div>
    <div class="p-mr-2 p-mb-2">Rongpur</div>
</div>


<!-- wrap -->
<hr> 
    <div class="p-d-flex p-flex-wrap">
    <div class="p-mr-2 p-mb-2">Bogra</div>
    <div class="p-mr-2 p-mb-2">Dhaka</div>
    <div class="p-mr-2 p-mb-2">Sirajganj</div>
    <div class="p-mr-2 p-mb-2">Pabna</div>
    <div class="p-mr-2 p-mb-2">Dinajpur</div>
    <div class="p-mr-2 p-mb-2">Rongpur</div>
</div>


<!-- wrap reverse -->
<hr>
<div class="p-d-flex p-flex-wrap-reverse">
    <div class="p-mr-2 p-mb-2">Bogra</div>
    <div class="p-mr-2 p-mb-2">Dhaka</div>
    <div class="p-mr-2 p-mb-2">Sirajganj</div>
    <div class="p-mr-2 p-mb-2">Pabna</div>
    <div class="p-mr-2 p-mb-2">Dinajpur</div>
    <div class="p-mr-2 p-mb-2">Rongpur</div>
</div>

<!-- p-flex-nowrap
     p-flex-wrap
     p-flex-wrap-reverse
     p-flex-sm-nowrap
     p-flex-sm-wrap
     p-flex-sm-wrap-reverse
     p-flex-md-nowrap
     p-flex-md-wrap
     p-flex-md-wrap-reverse
     p-flex-lg-nowrap
     p-flex-lg-wrap
     p-flex-lg-wrap-reverse
     p-flex-xl-nowrap
     p-flex-xl-wrap
     p-flex-xl-wrap-reverse -->




<!-- Justify Content -->
<!-- Between -->
<hr>
<div class="p-d-flex p-jc-between">
    <div>Bogra</div>
    <div>Dhaka</div>
    <div>Sirajganj</div>
    <div>Pabna</div>
    <div>Dinajpur</div>
    <div>Rongpur</div>
</div>


<!-- End -->
<hr>
<div class="p-d-flex p-jc-end">
    <div class="p-md-2">Bogra</div>
    <div class="p-md-2">Dhaka</div>
    <div class="p-md-2">Sirajganj</div>
    <div class="p-md-2">Pabna</div>
</div>


<!-- start -->
<hr>
<div class="p-d-flex p-jc-start">
    <div class="p-md-2">Bogra</div>
    <div class="p-md-2">Dhaka</div>
    <div class="p-md-2">Sirajganj</div>
    <div class="p-md-2">Pabna</div>
</div>

<!-- p-jc-start
     p-jc-end
     p-jc-center
     p-jc-between
     p-jc-around
     p-jc-evenly
     p-jc-sm-start
     p-jc-sm-end
     p-jc-sm-center
     p-jc-sm-between
     p-jc-sm-around
     p-jc-sm-evenly
     p-jc-md-start
     p-jc-md-end
     p-jc-md-center
     p-jc-md-between
     p-jc-md-around
     p-jc-md-evenly
     p-jc-lg-start
     p-jc-lg-end
     p-jc-lg-center
     p-jc-lg-between
     p-jc-lg-around
     p-jc-lg-evenly
     p-jc-xl-start
     p-jc-xl-end
     p-jc-xl-center
     p-jc-xl-between
     p-jc-xl-around
     p-jc-xl-evenly -->



<!-- Align Items -->
<!-- Start -->
<hr>
<div class="p-d-flex p-ai-start">
    <div class="p-md-2">Bogra</div>
    <div class="p-md-2">Dhaka</div>
    <div class="p-md-2">Sirajganj</div>
    <div class="p-md-2">Pabna</div>
</div>

<div class="p-d-flex p-ai-start">
    <div class="p-mr-2" style="height:100px">Item 1</div>
    <div style="height:50px">Item 2</div>
</div>


<!-- Center -->
<hr>
<div class="p-d-flex p-ai-center">
    <div class="p-md-2">Bogra</div>
    <div class="p-md-2">Dhaka</div>
    <div class="p-md-2">Sirajganj</div>
    <div class="p-md-2">Pabna</div>
</div>

<div class="p-d-flex p-ai-center">
    <div class="p-mr-2" style="height:100px">Item 1</div>
    <div style="height:50px">Item 2</div>
</div>


<!-- End -->
<hr>
<div class="p-d-flex p-ai-end">
    <div class="p-md-2">Bogra</div>
    <div class="p-md-2">Dhaka</div>
    <div class="p-md-2">Sirajganj</div>
    <div class="p-md-2">Pabna</div>
</div>


<!-- p-ai-start
    p-ai-end
    p-ai-center
    p-ai-baseline
    p-ai-strech
    p-ai-sm-start
    p-ai-sm-end
    p-ai-sm-center
    p-ai-sm-baseline
    p-ai-sm-strech
    p-ai-md-start
    p-ai-md-end
    p-ai-md-center
    p-ai-md-baseline
    p-ai-md-strech
    p-ai-lg-start
    p-ai-lg-end
    p-ai-lg-center
    p-ai-lg-baseline
    p-ai-lg-strech
    p-ai-xl-start
    p-ai-xl-end
    p-ai-xl-center
    p-ai-xl-baseline
    p-ai-xl-strech -->


<!-- Align Self -->
<hr>
    <div class="p-d-flex" style="height: 150px;">
    <div class="p-mr-2 p-as-start">Dhaka</div>
    <div class="p-mr-2 p-as-center">Bogra</div>
    <div class="p-mr-2 p-as-end">Pabna</div>
    <div class="p-mr-2 p-as-stretch">Sirajganj</div>
</div>

<!-- p-as-start
    p-as-end
    p-as-center
    p-as-baseline
    p-as-strech
    p-as-sm-start
    p-as-sm-end
    p-as-sm-center
    p-as-sm-baseline
    p-as-sm-strech
    p-as-md-start
    p-as-md-end
    p-as-md-center
    p-as-md-baseline
    p-as-md-strech
    p-as-lg-start
    p-as-lg-end
    p-as-lg-center
    p-as-lg-baseline
    p-as-lg-strech
    p-as-xl-start
    p-as-xl-end
    p-as-xl-center
    p-as-xl-baseline
    p-as-xl-strech -->




<!-- Align Content -->
<hr>
    <div class="p-d-flex" style="height: 150px;">
    <div class="p-mr-2 p-ac-start">Dhaka</div>
    <div class="p-mr-2 p-ac-center">Bogra</div>
    <div class="p-mr-2 p-ac-end">Pabna</div>
    <div class="p-mr-2 p-ac-stretch">Sirajganj</div>
</div>

<!-- p-ac-start
    p-ac-end
    p-ac-center
    p-ac-around
    p-ac-stretch
    p-ac-between
    p-ac-sm-start
    p-ac-sm-end
    p-ac-sm-center
    p-ac-sm-around
    p-ac-sm-stretch
    p-ac-sm-between
    p-ac-md-start
    p-ac-md-end
    p-ac-md-center
    p-ac-md-around
    p-ac-md-stretch
    p-ac-md-between
    p-ac-lg-start
    p-ac-lg-end
    p-ac-lg-center
    p-ac-lg-around
    p-ac-lg-stretch
    p-ac-lg-between
    p-ac-xl-start
    p-ac-xl-end
    p-ac-xl-center
    p-ac-xl-around
    p-ac-xl-stretch
    p-ac-xl-between -->




<!-- FormLayout -->
<hr>
    <div class="p-field">
    <label for="fieldId">Label</label>
    <input id="fieldId" type="text" pInputText>
</div>


<!-- Vertical Layout -->
<hr>
<div class="p-fluid">
    <div class="p-field">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" pInputText>
    </div>
    <div class="p-field">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" pInputText>
    </div>
</div>



<!-- Horizontal and Fixed Width -->
<div class="p-field p-grid">
    <label for="firstname3" class="p-col-fixed" style="width:100px">Firstname</label>
    <div class="p-col">
        <input id="firstname3" type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed" style="width:100px">Lastname</label>
    <div class="p-col">
        <input id="lastname3" type="text" pInputText>
    </div>
</div>



<!-- Horizontal and Fluid -->
<div class="p-fluid">
    <div class="p-field p-grid">
        <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Firstname</label>
        <div class="p-col-12 p-md-10">
            <input id="firstname" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Lastname</label>
        <div class="p-col-12 p-md-10">
            <input id="lastname" type="text" pInputText>
        </div>
    </div>
</div>




<!-- Inline -->
<div class="p-formgroup-inline">
    <div class="p-field">
        <label for="firstname" class="p-sr-only">Firstname</label>
        <input id="firstname" type="text" pInputText placeholder="Firstname">
    </div>
    <div class="p-field">
        <label for="lastname" class="p-sr-only">Lastname</label>
        <input id="lastname" type="text" pInputText placeholder="Lastname">
    </div>
    <button pButton type="button" label="Submit"></button>
</div>



<!-- Checkbox and RadioButton -->
<h3>Vertical Checkbox</h3>
<div class="p-field-checkbox">
    <p-checkbox name="city1" value="Chicago" [(ngModel)]="cities1" inputId="city1"></p-checkbox>
    <label for="city1">Chicago</label>
</div>
<div class="p-field-checkbox">
    <p-checkbox name="city2" value="Los Angeles" [(ngModel)]="cities1" inputId="city2"></p-checkbox>
    <label for="city2">Los Angeles</label>
</div>

<h3>Horizontal Checkbox</h3>
<div class="p-formgroup-inline">
    <div class="p-field-checkbox">
        <p-checkbox name="city3" value="Chicago" [(ngModel)]="cities2" inputId="city3"></p-checkbox>
        <label for="city3">Chicago</label>
    </div>
    <div class="p-field-checkbox">
        <p-checkbox name="city4" value="Los Angeles" [(ngModel)]="cities2" inputId="city4"></p-checkbox>
        <label for="city4">Los Angeles</label>
    </div>
</div>



<h3>Vertical RadioButton</h3>
<div class="p-field-radiobutton">
    <p-radioButton name="city5" value="Chicago" [(ngModel)]="city1" inputId="city5"></p-radioButton>
    <label for="city5">Chicago</label>
</div>
<div class="p-field-radiobutton">
    <p-radioButton name="city6" value="Los Angeles" [(ngModel)]="city1" inputId="city6"></p-radioButton>
    <label for="city6">Los Angeles</label>
</div>

<h3>Horizontal RadioButton</h3>
<div class="p-formgroup-inline">
    <div class="p-field-checkbox">
    <p-radioButton name="city7" value="Chicago" [(ngModel)]="city2" inputId="city7"></p-radioButton>
    <label for="city7">Chicago</label>
    </div>
    <div class="p-field-checkbox">
        <p-radioButton name="city8" value="Los Angeles" [(ngModel)]="city2" inputId="city8"></p-radioButton>
        <label for="city8">Los Angeles</label>
    </div>
</div>




<!-- Helper text -->
<div class="p-field p-fluid">
    <label for="username">Username</label>
    <input id="username" type="username" pInputText aria-describedby="username-help">
    <small id="username-help">Enter your username to reset your password.</small>
</div>



<!-- Advanced Forms -->
<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
        <label for="firstname">Firstname</label>
        <input id="firstname" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label for="lastname">Lastname</label>
        <input id="lastname" type="text" pInputText>
    </div>
    <div class="p-field p-col-12">
        <label for="address">Address</label>
        <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label for="city">City</label>
        <input id="city" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-3">
        <label for="state">State</label>
        <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-3">
        <label for="zip">Zip</label>
        <input id="zip" type="text" pInputText>
    </div>
</div>

















